.header{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.verx{
    display: flex;
    justify-content: space-between;
    
}
.content{
    margin: auto;
    padding: 7px;
    width: 80%;
    border: 1px solid black;
}
.leftreklama{
    margin: 10px;
    width: 20%;
}
.rek{
    text-align: center;
}

.list > ol > li > img {
    width: 17px;
    height: 17px;
}
.list2 > ul > li > img{
    width: 17px;
    height: 17px;
}
.list2{
    border: 1px solid black
}
ol{
    border: 1px solid black;
}
ul{
    list-style-type: none;
}
.iem,.ufc{
    margin-top: 30px;
}
.TODAYSMATCHES{
    background-color: blue;
}
.rightreklama{

}

.info {
    display: flex;
    
}

.news {
    width: 40%;
    border: 1px solid black
}

.total {
    width: 20%;
    border: 1px solid black
}
