.animate {
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    animation: move 5s linear alternate infinite;
}
.animate:hover{
    animation-play-state: paused;
}
@keyframes move {
    from{
        left: 0;
        width: 100;
    }
    25% {
        background-color: green;
    }
    50% {
        width: 150px;
    }
    75% {
        background-color: red;
    }
    to {
        width: 100px;
        left: 200px;
    }
}


 